.header {
    gap: 3rem;
    margin: 6rem auto 5rem auto;
    width: 90%;
    max-width: 75rem;
    font-size: 1.5rem;
}

.header h1 {
    font-family: 'Montserrat', sans-serif;
}

.highlight {
    background: linear-gradient(90deg,#ad84b9, #665b94);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header p {
    font-size: 1.5rem;
    font-weight: 500;
}

.cta a {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    background: linear-gradient(90deg, #ad84b9, #665b94);
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
}
.cta a:hover,
.cta a:active {
    background: linear-gradient(90deg, #ce9cdc, #7e71bb);
    box-shadow: 0 0 12px rgba(145, 145, 145, 0.8);
}