.active {
    background: linear-gradient(90deg, #2d2256, #2d2256);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 0 18px #200826;
}

.link {
    text-decoration: none;
    color: #f1f1f1;
    font-weight: bold;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}

.link:hover,
.link:active {
    background: linear-gradient(90deg, #2d2256, #2d2256);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 0 18px #200826;
}